
/*Visualizzare da 1440 a 1540,non è responsive*/


html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: bold;
}
/*Header*/
header {
    background-color: #ffc017;
}

nav {
    display: flex;
    border-bottom: solid black 1px;
    justify-content: flex-end;
    background-color: #ffc017;
    position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
   animation: changeColor 2s;
}

ul {
    list-style: none;
    display: flex;
    padding: 20px;
    margin-right: 9%;

}

li {
    margin-right: 40px;
}

#logo {
    margin-left: 10%;
    margin-right: auto;
}
#altezza{
    height: 40vh;
    border-bottom: solid black 1px;
    margin-left: 10%;
    margin-top: 6%;
}
h2{
    margin-top: 5%;
    font-size: 5em;
    margin-bottom: 10px;
}
.bottoneNero{
    color: white;
    border: solid 2px black;
    background-color: black;
    border-radius: 30px;
}
#secondoBottone{
    text-align: center;
    width: 10%;
    
}
#primoBottone{
    text-align: center;
    width: 20%;
}
#bottoneNav{
    width: 100%;
}
#pheader {
    font-size: 1.5em;
    max-width: 25%;
}








/* Article*/
#containerArticle{
    display: flex;
    flex-wrap: wrap;
}
.contenitoriArticle{
    flex-direction: column;
    margin-left: 10%;
    width: 20%;
}
.fotoArticle{
    transform:scale(0.6) ;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: middle;
    
}
.stelle{
    display: inline-block;
    vertical-align: middle;
}
#titoloArticle{
    margin-left: 10%;
    margin-top: 2%;
}
#trend{
    display: inline-block;
    vertical-align: middle;
}

#foto1{
    border-radius: 30px;
}
article{
    border-bottom: solid rgb(199, 194, 194) 1px;
}
h4{
    font-size: small;
}
/* Main, section e Aside */

main{
    display: flex;
    margin-left: 10%;
}
section{
    display: flex;
    flex-direction: column;
}
.contenitoriSection{
    position: relative;
    margin-top: 5%;
    width: 60%;
}
.imgSection{
    transform:scale(0.6) ;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: middle;
    
}
span{
    background-color: #E7E9EC;
    border-radius: 10px;
    text-align: center;
    padding: 1%;
}
.imgGrandiSection{
    position: absolute;
    right: -90%;
    top: 0;
    transform: scale(0.6);
}
.book{
    float: right;
}
aside{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 4%;
}
#containerAside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    border-bottom: solid 0.5px rgb(185, 182, 182);

}
.pAside{
    border: solid 1px rgb(185, 185, 185);
    padding: 3%;
    margin: 1%;
}
#containerAside2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 2%;
    
}
.pAside2{
    padding: 2%;
    margin: 0;
}

