html , body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: small;
}

#bianco{
    color: rgb(207, 195, 195);
}
#logo{
    width: 150px;
    padding: 0;
    margin: 0;
}
#avatar{
    width: 50px;
    padding: 0;
    margin: 0;

}
#containerButton{
    align-self: center;
    
}
#menuIcona{
    background-color: black;
    
}
#dark1{
background-color: black;
}
#dark2{
    background-color: black;  
}
#dark3{
    background-color: black;   
}
#margin{
margin-right: 16px;
margin-top: 16px;
}

.d-block{
    width: 16.66%;
}
.d-block:hover {
    transform: scale(1.1);
    transition: opacity 0.3s ease; 
}
#carouselExampleFade{
    margin-bottom: 50px ;
}

#carouselExampleFade2{
    margin-bottom: 50px ;
}
#carouselExampleFade3{
    margin-bottom: 50px ;
}

h3{
    margin-bottom: 20px;
}
footer{
  width: 100%;
    margin-top: 8%;
    color: grey;
}
#icon{
   display: flex;
    
}
.posizione{
    margin: 20px;
    transform: scale(1.4);
}
#scritteFooter{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
p{
    margin-right: 30px;
    font-size: small;
    
}
#black{
    background-color: black;
    color: grey;
    margin-bottom: 10px;
}

@media (max-width:765px){
    .d-block{
        width: 60%;
    }
}
